.mat-mdc-dialog-content {
    margin-top: 25px;
    text-align: center;
    p {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #373F41;
    }
}
.mat-mdc-dialog-actions {
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    .ok {
        background-color: #0555be;
        border: 1px solid #0555be;
        border-radius: 3px;
        color: #F2F2F2;
        width: 200px;
        height: 45px
    }
    .cancel {
        background-color: #FFF;
        border: 2px solid #0555be;
        border-radius: 3px;
        color: #0555be;
        width: 200px;
        height: 45px;
        margin-left: 20px;
    }
}
